.main {
    display: flex;
    flex-direction: column;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.card {
    height: auto;
    width: 260px;
    border-radius: 20px;
    padding: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px !important;
}

.team-name {
    width: 100%;
    max-height: 60px;
    text-align: center;
    color: #f47a60;
    font-weight: 500;
    padding: 5px !important;
}