.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

  .table-wrapper {
    max-width: 90%;
    margin: auto;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    color: #607d8b; }

    .fl-table {
      border-radius: 5px;
      font-size: 12px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      white-space: nowrap;
      background-color: #FFFFFF; }

      .fl-table td, .fl-table th {
        text-align: center;
        padding: 6px;
        min-width: 70px; }

        .fl-table td {
          border-right: 1px solid #f8f8f8;
          font-size: 12px; }

          .fl-table thead th {
            color: #FFFFFF;
            background: #f47a60; }

            .fl-table thead th:nth-child(odd) {
              color: #FFFFFF;
              background: #607d8b; }

              .fl-table tbody tr th {
                background: #f8f8f8;
                opacity: 1; }

                .fl-table tbody tr:nth-child(odd) th {
                  background: #FFFFFF;
                  opacity: 1; }

                  .fl-table tr:nth-child(even) {
                    background: #f8f8f8;
                    opacity: 1; }

                    .sticky-col {
                      position: -webkit-sticky;
                      position: sticky;
                      left: 0; }

                      .tabs .tab a {
                        color: #f47a60; }

                        .chart {
                          display: flex;
                          flex-direction: row;
                          justify-content: space-around; }

                          .h2h-container {
                            width: 40%;
                            min-width: 600px;
                            margin: auto;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between; }

                            .h2h-column {
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;
                              width: 33%; }

                              .h2h-column:nth-child(2) {
                                width: 34%; }

                                .h2h-team-info {
                                  display: flex;
                                  flex-direction: column; }

                                  .h2h-team-info > div:first-of-type {
                                    padding-top: 15px; }

                                    .h2h-team-info > * {
                                      min-height: 32px; }

                                      .left-team {
                                        text-align: right !important;
                                        align-items: flex-end; }

                                        .right-team {
                                          text-align: left !important;
                                          align-items: flex-start; }

                                          .center-info {
                                            text-align: center;
                                            font-weight: 600; }

                                            .center-info > div:first-of-type {
                                              height: 120px; }

                                              .section-header {
                                                width: 100%;
                                                border-top: 1px solid #ced7d8;
                                                padding-top: 10px;
                                                font-size: 18px; }
