.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-wrapper {
    width: 100%;
    margin: 20px 0 40px 0;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    overflow: scroll;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 6px;
    min-width: 70px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #f47a60;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #316879;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
