$primary-blue: #316879;
$secondary-light-blue: #61B6D0;
$orange: #f47a60;       
$accent-gray: #f8f8f8;    
$background-gray: #ced7d8;
$placeholder-gray: #B0BEC5;
$label-gray: #737373;
$white: #FFFFFF;
$black: #000000;
$box-shadow: rgba( 0, 0, 0, 0.2 );
