@import 'colors';

@font-face{
  font-family: OpenSans;
  src: url('OpenSans-Regular.ttf');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
}

nav {
  font-family: OpenSans;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

div.home {
  margin: 20px 40px 20px 40px;
  padding: 10px 0 10px 0;
  background-color: $background-gray;
  -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: $background-gray;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  text-decoration: none;
}

.nav-title {
  margin-right: 25px;
  font-weight: 500;
}

.form {
  width: 100%;
}

.input-text {
  display: block;
  margin: 0;
  padding-left: 6px;
  color: inherit;
  width: 60px;
  font-size: 12px;
  font-weight: inherit;
  line-height: 24px;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.input-label {
  display: block;
  background-color: transparent;
  font-size: 12px;
  bottom: 50%;
  left: 1rem;
  padding-bottom: 4px;
}

::placeholder {
  color: $placeholder-gray;
  opacity: 1;
}

.button {
  border-radius: 0.3em;
  color: $white;
  transition: all 0.2s;
}

.collapsible {
  background-color: $primary-gray;
  color: $white;
  cursor: pointer;
  padding: 18px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.content {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  background-color: $white;
  color: $primary-gray;
  border-radius: 0 0 8px 8px;
}

.page-content {
  color: $primary-gray;
}

.loader {
  position: absolute !important;
  top: 30%;
  left: 50%;
  display: block;
  z-index: 1000;
}

.grayout {
  pointer-events: none;
  opacity: 0.6;
}

.mdl-layout--fixed-header {
  color: white;
  margin-bottom: 20px;
}

.mdl-layout-title {
  padding-right: 40px;
}

.mdl-layout__header-row {
  padding: 0 20px 0 20px !important;
}

.mdl-mini-footer {
  font-size: 12px !important;
  padding: 8px 16px !important;
}

.mdl-mini-footer__link-list {
  font-size: 12px !important;
}

.mdl-logo {
  margin-right: 40px !important;
}

.error {
  color: $error-red;
}