@import 'colors';

@font-face{
  font-family: OpenSans;
  src: url('OpenSans-Regular.ttf');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
  color: $primary-blue;
}

nav {
  font-family: OpenSans;
  background-color: $primary-blue;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

div.home {
  margin: 20px 40px 20px 40px;
  padding: 10px 0 10px 0;
  background-color: $background-gray;
  -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: $background-gray;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: $white;
  text-decoration: none;
}

.nav-title {
  margin-right: 25px;
  font-weight: 500;
}

.form {
  width: 100%;
}

.input-text {
  display: block;
  margin: 0;
  padding-left: 6px;
  color: inherit;
  width: 60px;
  font-size: 12px;
  font-weight: inherit;
  line-height: 24px;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.input-text::placeholder {
  color: $placeholder-gray;
}

.input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.input-label {
  display: block;
  background-color: transparent;
  font-size: 12px;
  color: $label-gray;
  bottom: 50%;
  left: 1rem;
  padding-bottom: 4px;
}

[type="radio"]:not(:checked)+label:before {
    border: 2px solid $primary-blue;
    color: $primary-blue;
}

[type="radio"].with-gap:checked+label:after {
  border: 2px solid $primary-blue;
  background-color: $primary-blue;
}

[type="radio"].with-gap:checked+label:before {
  border: 2px solid $primary-blue;
}

.button {
  display: inline-block;
  padding: 0.5em 1.2em;
  border: 0.1em solid $white;
  cursor: pointer;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  background-color: $primary-blue;
  color: $white;
  text-align: center;
  transition: all 0.2s;
}

.button:hover{
  color: $primary-blue;;
  background-color: $white;
  border: 0.1em solid $primary-blue;
}

.collapsible {
  background-color: $primary-blue;
  color: $white;
  cursor: pointer;
  padding: 18px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.collapsible:hover {
  background-color: $secondary-light-blue;
}

button.active {
  background-color: $secondary-light-blue;
  border-radius: 8px 8px 0 0;
}

button:focus {
  outline: none;
  background-color: none !important;
}

.content {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  background-color: $white;
  border-radius: 0 0 8px 8px;
}

div#loading {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 35px;
  height: 35px;
  display: none;
  background: url(/static/loader.gif) no-repeat;
  cursor: wait;
}

.grayout {
  pointer-events: none;
  opacity: 0.6;
}
