@import 'colors';

@font-face{
  font-family: OpenSans;
  src: url('OpenSans-Regular.ttf');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
}

nav {
  font-family: OpenSans;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

.container {
  color: $primary-gray;
  font-size: 14px;
  width: 100%;
  padding: 30px;
}

.form-container {
  width: 60%;
  margin: auto;
  padding: 40px;
  background-color: $background-gray;
  -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: $background-gray;
}

.league-info {
  text-align: left;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  text-decoration: none;
}

.nav-title {
  margin-right: 25px;
  font-weight: 500;
}

.form {
  width: 100%;
}

::placeholder {
  color: $placeholder-gray;
  opacity: 1;
}

.button {
  border-radius: 0.3em;
  color: $white;
  transition: all 0.2s;
}

.collapsible {
  background-color: $primary-gray;
  color: $white;
  cursor: pointer;
  padding: 18px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.collapsible.active {
  border-radius: 8px 8px 0 0;
}

.content {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  background-color: $white;
  color: $primary-gray;
  border-radius: 0 0 8px 8px;
}

.loader {
  position: absolute !important;
  top: 30%;
  left: 50%;
  display: block;
  z-index: 1000;
}

.grayout {
  pointer-events: none;
  opacity: 0.6;
}

.mdl-layout--fixed-header {
  color: white;
  margin-bottom: 20px;
}

.mdl-layout-title {
  padding-right: 40px;
}

.mdl-layout__header-row {
  padding: 0 20px 0 20px !important;
}

.mdl-mini-footer {
  font-size: 12px !important;
  padding: 8px 16px !important;
}

.mdl-mini-footer__link-list {
  font-size: 12px !important;
}

.mdl-logo {
  margin-right: 40px !important;
}

.mdl-switch__label, .mdl-radio__label, .mdl-textfield__input, .mdl-textfield__label {
  font-size: 14px !important;
}

.error {
  color: $error-red;
}