@import 'colors';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-wrapper {
  width: 100%;
  margin: 20px 0 40px 0;
  box-shadow: 0px 35px 50px $box-shadow;
  overflow: scroll;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: $white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 6px;
  min-width: 70px;
}

.fl-table td {
  border-right: 1px solid $accent-gray;
  font-size: 12px;
}

.fl-table thead th {
  color: $white;
  background: $orange;
}


.fl-table thead th:nth-child(odd) {
  color: $white;
  background: $primary-blue;
}

.fl-table tbody tr th {
  background: $accent-gray;
  opacity: 1;
}

.fl-table tbody tr:nth-child(odd) th {
  background: $white;
  opacity: 1;
}

.fl-table tr:nth-child(even) {
  background: $accent-gray;
  opacity: 1;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.tabs .tab a {
  color: $orange;
}

.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}