{%extends "layout.html"%}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='favorites.css')}}">
    </head>
    <body>
        {% for team in result %}
            {% if team["favorite_picks"][1]["picked"] > 1 %}
            <div class="team">
                <div class="row owner">
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand card-content">
                            <img src="{{ team['logo'] }}" width="120" referrerpolicy="no-referrer">
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ team["team_name"] }}
                        </div>
                    </div>
                </div>
                <div class="row pick">
                    {% if team["favorite_picks"][1]["picked"] > 1 %}
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand card-content">
                            <img src="{{ team['favorite_picks'][1]['image'] }}" width="160">
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ team["favorite_picks"][1]["player_name"] }} ({{ team["favorite_picks"][1]["picked"] }})
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row pick">
                    {% if team["favorite_picks"][2]["picked"] > 1 %}
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand card-content">
                            <img src="{{ team['favorite_picks'][2]['image'] }}" width="160">
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ team["favorite_picks"][2]["player_name"] }} ({{ team["favorite_picks"][2]["picked"] }})
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row pick">
                    {% if team["favorite_picks"][3]["picked"] > 1 %}
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand card-content">
                            <img src="{{ team['favorite_picks'][3]['image'] }}" width="160">
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ team["favorite_picks"][3]["player_name"] }} ({{ team["favorite_picks"][3]["picked"] }})
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </body>
</html>    
{%endblock%}