{%extends "layout.html"%}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='favorites.css')}}">
    </head>
    <body>
        {% for team in result %}
            {% if team["favorite_picks"][1]["picked"] > 1 %}
            <div class="team">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card darken-1">
                            <div class="card-content white-text">
                                <img src="{{ team['logo'] }}" width="120" referrerpolicy="no-referrer">
                            </div>
                            <div class="team-name card-action">
                                <a>{{ team["team_name"] }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pick">
                    {% if team["favorite_picks"][1]["picked"] > 1 %}
                    <div class="col s12 m6">
                        <div class="card darken-1">
                            <div class="card-content white-text">
                                <img src="{{ team['favorite_picks'][1]['image'] }}" width="160">
                            </div>
                            <div class="team-name card-action">
                                <a>
                                    {{ team["favorite_picks"][1]["player_name"] }} ({{ team["favorite_picks"][1]["picked"] }})
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row pick">
                    {% if team["favorite_picks"][2]["picked"] > 1 %}
                    <div class="col s12 m6">
                        <div class="card darken-1">
                            <div class="card-content white-text">
                                <img src="{{ team['favorite_picks'][2]['image'] }}" width="160">
                            </div>
                            <div class="team-name card-action">
                                <a>
                                    {{ team["favorite_picks"][2]["player_name"] }}
                                    ({{ team["favorite_picks"][2]["picked"] }})
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row pick">
                    {% if team["favorite_picks"][3]["picked"] > 1 %}
                    <div class="col s12 m6">
                        <div class="card darken-1">
                            <div class="card-content white-text">
                                <img src="{{ team['favorite_picks'][3]['image'] }}" width="160">
                            </div>
                            <div class="team-name card-action">
                                <a>
                                    {{ team["favorite_picks"][3]["player_name"] }}
                                    ({{ team["favorite_picks"][3]["picked"] }})
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
            {% endif %}
        <br>
        {% endfor %}
    </body>
</html>    
{%endblock%}