{%extends "layout.html"%}
{% block content %}
<html>
     <body>
          <div class="home">
               <div id="forms" class="home">
                    <div id="records" class="form">
                         <button type="button" class="collapsible"">All Time Records</button>
                         <div class="content">
                              <form action="/records" method="post" name="records">
                                   <label for="startyear" class="input-label">Start Year</label>
                                   <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005"><br>
                                   <label for="endyear" class="input-label">End Year</label>
                                   <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020"><br>
                                   <button class="button">Submit</button>
                              </form>
                         </div>
                    </div><br>
                    <div id="margins" class="form">
                         <button type="button" class="collapsible"">Win Margins</button>
                         <div class="content">
                              <form action="/matchups" method="post" name="biggestblowouts">
                                   <label for="blowouts" class="radio-label">Biggest Blowouts</label>
                                   <input type="radio" name="radioAnswer" value="blowouts" checked><br>
                                   <label for="close"  class="radio-label">Closest Matchups</label>
                                   <input type="radio" name="radioAnswer" value="close"><br>
                                   <br><br>
                                   <label for="startyear" class="input-label">Start Year</label>
                                   <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005"><br>
                                   <label for="endyear" class="input-label">End Year</label>
                                   <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020"><br>
                                   <label for="count" class="input-label">Number of records to display</label>
                                   <input type="number" id="count" name="count" min="1" max="500" class="input-text" placeholder="10"><br>
                                   <label for="playoffs" class="radio-label">Include playoffs?</label>
                                   <input type="checkbox" id="playoffs" name="playoffs"><br>
                                   <p>
                                        <button class="button">Submit</button>
                                   </p>
     
                              </div>
                         </form>          
                    </div><br>
                    <div id="week-scores" class="form">
                         <button type="button" class="collapsible"">Individual Week Scores</button>
                         <div class="content">
                              <form action="/individual-weeks" method="post" name="weeks">
                                   <p>
                                        <label for="best" class="radio-label">Best Weeks</label>
                                        <input type="radio" name="radioAnswer" value="best" checked><br>
                                        <label for="worst" class="radio-label">Worst Weeks</label>
                                        <input type="radio" name="radioAnswer" value="worse"><br>
                                   </p>
                                   <label for="startyear" class="input-label">Start Year</label>
                                   <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005"><br>
                                   <label for="endyear" class="input-label">End Year</label>
                                   <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020"><br>
                                   <label for="count" class="input-label">Number of records to display</label>
                                   <input type="number" id="count" name="count" min="1" max="500" class="input-text" placeholder="10"><br>
                                   <label for="playoffs" class="radio-label">Include playoffs?</label>
                                   <input type="checkbox" id="playoffs" name="playoffs"><br>
                                   <p>
                                        <button class="button">Submit</button>
                                   </p>
                              </form>    
                         </div>      
                    </div>
                    <br>
                    <div id="season-scores" class="form">
                         <button type="button" class="collapsible"">Individual Season Scores</button>
                         <div class="content">
                              <form action="/individual-seasons" method="post" name="averageScores">
                                   <p>
                                        <label for="best" class="radio-label">Best Seasons</label>
                                        <input type="radio" name="radioAnswer" value="best" checked><br>
                                        <label for="worst" class="radio-label">Worst Seasons</label>
                                        <input type="radio" name="radioAnswer" value="worse"><br>
                                   </p>
                                   <label for="startyear" class="input-label">Start Year</label>
                                   <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005"><br>
                                   <label for="endyear" class="input-label">End Year</label>
                                   <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020"><br>
                                   <label for="count" class="input-label">Number of records to display</label>
                                   <input type="number" id="count" name="count" min="1" max="500" class="input-text" placeholder="10"><br>
                                   <p>
                                        <button class="button">Submit</button>
                                   </p>
                              </form>    
                         </div>      
                    </div>
                    <br>
                    <div id="blowouts" class="form">
                         <button type="button" class="collapsible"">Blowouts by Season</button>
                         <div class="content">
                              <form action="/yearly-blowouts" method="post" name="yearlyBlowouts">
                                   <label for="startyear" class="input-label">Start Year</label>
                                   <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005"><br>
                                   <label for="endyear" class="input-label">End Year</label>
                                   <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020"><br>
                                   <label for="playoffs" class="radio-label">Include playoffs?</label>
                                   <input type="checkbox" id="playoffs" name="playoffs"><br>
                                   <p>
                                        <button class="button">Submit</button>
                                   </p>
                              </form>    
                         </div>      
                    </div>
                    <br>
                    <div id="favorites" class="form">
                         <button type="button" class="collapsible"">Favorite Draft Picks</button>
                         <div class="content">
                              <form action="/favorite-picks" method="post" name="favoritePicks">
                                   <label for="startyear" class="input-label">Start Year</label>
                                   <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005"><br>
                                   <label for="endyear" class="input-label">End Year</label>
                                   <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020"><br>
                                   <p>
                                        <button class="button">Submit</button>
                                   </p>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
          <script>
               var coll = document.getElementsByClassName("collapsible");
               var i;
               
               for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                         content.style.display = "none";
                    } else {
                         content.style.display = "block";
                    }
                    });
               }
          </script>
     </body>
</html>
          
{%endblock%}
