<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Gridiron Almanac</title>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css" />
    </head>
  <body>
    <div id="loading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner loader"></div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only" aria-label="Nav Bar Links">
            <a class="mdl-navigation__link" href="{{ url_for('home') }}">Home</a>
            <a class="mdl-navigation__link" href="{{ url_for('all_time_standings') }}" onclick="loading();">All-time Standings</a>
            <a class="mdl-navigation__link" href="{{ url_for('h2h_form') }}" onclick="loading();">Head-to-head</a>
            <a class="mdl-navigation__link" href="{{ url_for('data_forms') }}" onclick="loading();">Additional Data</a>
            <a class="mdl-navigation__link" href="{{ url_for('show_report') }}" onclick="loading();">Weekly Report</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation" aria-label="Nav Bar Links">
          <a class="mdl-navigation__link" href="{{ url_for('home') }}">Home</a>
          <a class="mdl-navigation__link" href="{{ url_for('all_time_standings') }}" onclick="loading();">All-time Standings</a>
          <a class="mdl-navigation__link" href="{{ url_for('h2h_form') }}" onclick="loading();">Head-to-head</a>
          <a class="mdl-navigation__link" href="{{ url_for('data_forms') }}" onclick="loading();">Additional Data</a>
          <a class="mdl-navigation__link" href="{{ url_for('show_report') }}" onclick="loading();">Weekly Report</a>
        </nav>
      </div>    
      <main id="content" class="mdl-layout__content">
        <div class="container">
          {%block content%}
          {%endblock%}
        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Gridiron Almanac</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="/suggestions">Feature Suggestions</a></li>
          </ul>
        </div>
      </footer>        
    </div>
    <script type="text/javascript">
      function loading(){
        console.log('doing it')
        document.getElementById("loading").classList.add("is-active");
        document.getElementById("content").classList.add("grayout");
      }
    </script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
