{% include "nav.html" %}
<!DOCTYPE html>
<html>
  <head>
      <title>Gridiron Analytics</title>
      <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper nav-title">
        <a href="{{ url_for('home') }}" class="brand-logo right">Gridiron League History</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('seasons_form') }}">Seasons</a></li>
          <li><a href="{{ url_for('matchups_form') }}">Matchups</a></li>
          <li><a href="{{ url_for('favorite_picks') }}">Draft Picks</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>
