{% include "nav.html" %}
<!DOCTYPE html>
<html>
  <head>
      <title>Gridiron Analytics</title>
      <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper nav-title">
        <a href="{{ url_for('home') }}" class="brand-logo right">Gridiron League History</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('all_time_standings') }}" onclick="loading();">All-time Standings</a></li>
          <li><a href="{{ url_for('bests_and_worsts_form') }}" onclick="loading();">Bests and Worsts</a></li>
          <li><a href="{{ url_for('favorite_picks') }}" onclick="loading();">Favorite Draft Picks</a></li>
        </ul>
      </div>
    </nav>
    <div id="loading"></div>
    <div id="content">
      <div class="container">
        {%block content%}
        {%endblock%}
      </div>
    </div>
    <script type="text/javascript">
      function loading(){
          $("#loading").show();
          document.getElementById("content").classList.add("grayout");
      }
    </script>
  </body>
</html>
