{%extends "layout.html"%}
{% block content %}
<html>
    <body>
        <div id="loading"></div>
        <div id="content">
            <div class="home">
                <div id="forms" class="home">
                    <div id="margins" class="form">
                        <button type="button" class="collapsible">Win Margins</button>
                        <div class="content">
                            <form action="/matchups" method="post" name="biggestblowouts">
                                <p>
                                    <input id="blowouts" class="with-gap" name="radio" type="radio"/>
                                    <label for="blowouts">Biggest Blowouts</label>
                                </p>
                                <p>
                                    <input id="close" class="with-gap" name="radio" type="radio"/>
                                    <label for="close">Closest Matchups</label>
                                </p>
                                <br>
                                <label for="startyear" class="input-label">Start Year</label>
                                <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005"><br>
                                <label for="endyear" class="input-label">End Year</label>
                                <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020"><br>
                                <label for="count" class="input-label">Number of records to display</label>
                                <input type="number" id="count" name="count" min="1" max="500" class="input-text" placeholder="10"><br>
                                <p>
                                    <input type="checkbox" id="margins-playoffs" name="margins-playoffs"/>
                                    <label for="margins-playoffs">Include playoffs?</label>
                                </p>
                                <p>
                                    <button class="button" onclick="loading();">Submit</button>
                                </p>
                            </form>          
                        </div>
                    </div>
                    <br>
                    <div id="week-scores" class="form">
                        <button type="button" class="collapsible">Individual Week Scores</button>
                        <div class="content">
                            <form action="/individual-weeks" method="post" name="weeks">
                                <p>
                                    <input id="best-weeks" class="with-gap" name="radio" type="radio"/>
                                    <label for="best-weeks">Best Weeks</label>
                                </p>
                                <p>
                                    <input id="worst-weeks" class="with-gap" name="radio" type="radio"/>
                                    <label for="worst-weeks">Worst Weeks</label>
                                </p>
                                <p>
                                    <label for="startyear" class="input-label">Start Year</label>
                                    <input type="number" id="startyear" name="startyear" min="2005" max="2020" class="input-text" placeholder="2005">
                                </p>
                                <p>
                                    <label for="endyear" class="input-label">End Year</label>
                                    <input type="number" id="endyear" name="endyear" min="2005" max="2020" class="input-text" placeholder="2020">
                                </p>
                                <p>
                                    <label for="count" class="input-label">Number of records to display</label>
                                    <input type="number" id="count" name="count" min="1" max="500" class="input-text" placeholder="10">
                                </p>
                                <p>
                                    <input type="checkbox" id="weeks-playoffs" name="weeks-playoffs"/>
                                    <label for="weeks-playoffs">Include playoffs?</label>
                                </p>
                                <p>
                                    <button class="button">Submit</button>
                                </p>
                            </form>    
                        </div>      
                    </div>
                </div>
            </div>
        </div>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
                  coll[i].addEventListener("click", function() {
                  this.classList.toggle("active");
                  var content = this.nextElementSibling;
                  if (content.style.display === "block") {
                      content.style.display = "none";
                  } else {
                      content.style.display = "block";
                  }
                  });
            }
        </script>
        <script type="text/javascript">
            function loading(){
                $("#loading").show();
                document.getElementById("content").classList.add("grayout");
            }
        </script>  
    </body>
</html>
{%endblock%}