{%extends "layout.html"%}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='tables.css')}}">
    </head>
    <body>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th class="sticky-col">Owner</th>
                        {% for value in result["seasons"] %}
                        <th>{{ value }}</th>
                        {% endfor %}
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Ties</th>
                        <th>Points For</th>
                        <th>Points Against</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in result["teams"].items() %}
                    <tr>
                        <th class="sticky-col"> {{ key }} </th>
                        {% for season in result["seasons"] %}
                            <td> {{ value["seasons"][season]["record"] if season in value["seasons"] }} </td>
                        {% endfor %}
                        <td> {{ value["total"]["wins"] }} </td>
                        <td> {{ value["total"]["losses"] }} </td>
                        <td> {{ value["total"]["ties"] }} </td>
                        <td> {{ value["total"]["pointsFor"] }} </td>
                        <td> {{ value["total"]["pointsAgainst"] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
{%endblock%}