<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
<html lang="en">
    <head>
        <title>Season Results Table</title>
        <link rel="stylesheet" href="{{url_for('static',filename='tables.css')}}">
    </head>
    <body>
        <h4 class="table-header">Season Results</h4>
        <div class="table-wrapper">
            <table class="fl-table" aria-describedby="seasons-table">
                <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Team</th>
                        <th scope="col">Average</th>
                        <th scope="col">League Average</th>
                        <th scope="col">Percent Diff</th>
                    </tr>
                </thead>
                <tbody>
                    {% for _key, value in result.items() %}
                        <tr>
                            <td> {{ value["year"] }} </td>
                            <td> {{ value["team_name"] }} </td>
                            <td> {{ value["average"] }} </td>
                            <td> {{ value["league_average"] }} </td>
                            <td> {{ value["pct_diff"] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
{% endblock %}