<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
<html lang="en">
    <head>
        <title>All-Time Standings Table</title>
        <link rel="stylesheet" href="{{url_for('static',filename='tables.css')}}">
    </head>
    <body>
        <h4 class="table-header">All-Time Standings</h4>
        <div class="table-wrapper">
            <table class="fl-table" aria-describedby="standings-table">
                <thead>
                    <tr>
                        <th class="sticky-col" scope="col">Owner</th>
                        {% for value in result["seasons"] %}
                            <th scope="col">{{ value }}</th>
                        {% endfor %}
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Ties</th>
                        <th scope="col">Win Pct</th>
                        <th scope="col">Points For</th>
                        <th scope="col">Points Against</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in result["teams"].items() %}
                        <tr>
                            <th class="sticky-col" scope="col"> {{ key }} </th>
                            {% for season in result["seasons"] %}
                                <td> {{ value["seasons"][season]["record"] if season in value["seasons"] }} </td>
                            {% endfor %}
                            <td> {{ value["total"]["wins"] }} </td>
                            <td> {{ value["total"]["losses"] }} </td>
                            <td> {{ value["total"]["ties"] }} </td>
                            <td> {{ value["total"]["winPct"] }} </td>
                            <td> {{ value["total"]["pointsFor"] }} </td>
                            <td> {{ value["total"]["pointsAgainst"] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
{% endblock %}