<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
<html lang="en">
    <head>
        <title>Best or Worst Weeks</title>
        <link rel="stylesheet" href="{{url_for('static',filename='tables.css')}}">
    </head>
    <body>
        <h4 class="table-header">Best or Worst Weeks</h4>
        <div class="table-wrapper">
            <table class="fl-table" aria-describedby="weeks-table">
                <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Week</th>
                        <th scope="col">Team Name</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for _key, value in result.items() %}
                        <tr>
                            <td> {{ value["year"] }} </td>
                            <td> {{ value["week"] }} </td>
                            <td> {{ value["team_name"] }} </td>
                            <td> {{ value["score"] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
{%endblock%}