<!DOCTYPE html>
{% extends 'layout.html' %}
{% import 'tables.html' as tables %}
{% block content %}
<html lang="en">
  <head>
    <title>Weekly Report</title>
    <link rel="stylesheet" href="{{url_for('static',filename='tables.css')}}">
  </head>
  <body>
  <div class="container">
    <div class="report-container">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        {% set week = report["week"] %}
        <div class="mdl-tabs__tab-bar">
          <a href="#recap" class="mdl-tabs__tab is-active">{{ "Week " ~ week ~ " Recap" }}</a>
          <a href="#preview" class="mdl-tabs__tab">{{ "Week " ~ report["next_week"] ~ " Preview" }}</a>
          <a href="#power-rankings" class="mdl-tabs__tab">Power Rankings</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="recap">
          {% if "error" in report["results"] %}
            <p>
              <br>
              No matchups yet - come back when the week is over
            </p>
          {%endif%}
          {% if "error" not in report["results"] %}
            <h4>Results</h4>
            <div class="results-table">
              {% for matchup in report["results"] %}
                <div class="results-row">
                  <img src="{{ matchup['w_logo'] }}" width="40" referrerpolicy="no-referrer" alt="team logo 1">
                  <div class="right-align team-name">{{ matchup["winner"] }}</div>
                  <div class="right-align">{{ matchup["w_score"] }}</div>
                  <div class="center-align">DEF</div>
                  <div class="left-align">{{ matchup["l_score"] }}</div>
                  <div class="left-align team-name">{{ matchup["loser"] }}</div>
                  <img src="{{ matchup['l_logo'] }}" width="40" referrerpolicy="no-referrer" alt="team logo 2">
                </div>
              {% endfor %}
            </div>
            <p class="top-border">
              <h4>&#x1F3C6; Highest Score</h4>
              {% set h_score = report["superlatives"]["high"] %}
              {{ h_score["team"] ~ " with a " }}
              <span id="high"></span>
              {{ " " ~ h_score["score"] }}
            </p>
            <p class="top-border">
              <h4>&#x1F4A9; Lowest Score</h4>
              {% set l_score = report["superlatives"]["low"] %}
              {{ l_score["team"] ~ " with a " }}
              <span id="low"></span>
              {{ " " ~ l_score["score"] }}
            </p>
            <p class="top-border">
              <h4>&#x1F90F; Closest Win</h4>
              {% set closest = report["superlatives"]["closest"] %}
              {% if closest["tie"] == True %}
                {{ closest["winner"] ~ " tied " ~ closest["loser"] }}
              {% else %}
                {{ closest["winner"] ~ " " }}
                <span id="close"></span>
                {{ " " ~ closest["loser"] ~ " by " ~ closest["difference"] }}
              {% endif %}
            </p>
            <p class="top-border">
              <h4>&#x1F512; Biggest Win</h4>
              {% set blowout = report["superlatives"]["blowout"] %}
              {{ blowout["winner"] ~ " " }}
              <span id="beat"></span>
              {{ " " ~ blowout["loser"] ~ " by " ~ blowout["difference"] }}
            </p>
            <p class="top-border">
              <h4>&#x2618; Luckiest Win</h4>
              {% set luckiest = report["superlatives"]["luckiest"] %}
              {{ luckiest["team"] ~ " got the win as the #" ~
              luckiest["place"] ~ " highest scoring team with " ~ luckiest["score"] }}
            </p>
            <p class="top-border">
              <h4>&#x1F612; Unluckiest Loss</h4>
              {% set unluckiest = report["superlatives"]["unluckiest"] %}
              {{ unluckiest["team"] ~ " took an L as the #" ~
              unluckiest["place"] ~ " highest scoring team with " ~ unluckiest["score"] }}
            </p>
            <p class="top-border">
              <h4>&#x1F4B0; Highest Bid</h4>
              {% set high_bid = report["superlatives"]["high_bid"] %}
              {{ high_bid["teamName"] ~ " paid $" ~ high_bid["bidAmount"] ~ " for " ~ high_bid["playerName"] }}
            </p>
            <p class="top-border">
              <h4>&#x1F4B8; Biggest Overpay</h4>
              {% set overpay_bid = report["superlatives"]["overpay_bid"] %}
              {{ overpay_bid["teamName"] ~ " paid $" ~ overpay_bid["winning_bid"]["bidAmount"] ~ " for " ~
              overpay_bid["playerName"] ~ ", "}}
              {% if overpay_bid["losing_bid"]["teamId"] == None %}
                nobody else bid on him
              {% else %}
                {{ "$" ~ overpay_bid["diff"] ~ " more than the next highest bid" }}
              {% endif %}
            </p>
            <p class="top-border">
              <h4>&#x1F60E; Most Efficient Bid</h4>
              {% set efficient_bid = report["superlatives"]["efficient_bid"] %}
              {{ efficient_bid["teamName"] ~ " paid $" ~ efficient_bid["winning_bid"]["bidAmount"] ~ " for " ~
              efficient_bid["playerName"] ~ ", just $" ~ efficient_bid["diff"] ~ " more than the next highest bid" }}
            </p>
          {%endif%}
        </div>
        <div class="mdl-tabs__panel" id="preview">
          <h4>Preview</h4>
          <div class="results-table">
            {% for matchup in report["preview"] %}
              <div class="results-row">
                {% if matchup["game_of_week"] %}
                  <div class="left-align game-of-week">&#9733;&#9733;&#9733;</div>
                {% endif %}
                <img src="{{ matchup['home_logo'] }}" width="40" referrerpolicy="no-referrer" alt="team logo 1">
                <div class="right-align team-name">{{ matchup["home"] + " (" + matchup["home_record"] + ")"}}</div>
                <div class="center-align">vs.</div>
                <div class="left-align team-name">{{ matchup["away"] + " (" + matchup["away_record"] + ")" }}</div>
                <img src="{{ matchup['away_logo'] }}" width="40" referrerpolicy="no-referrer" alt="team logo 2">
                {% if matchup["game_of_week"] %}
                  <div class="right-align game-of-week">&#9733;&#9733;&#9733;</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="mdl-tabs__panel" id="power-rankings">
          <h4>{{ "Week " ~ week ~ " Power Rankings" }}</h4>
          <div class="table-wrapper">
            <table class="fl-table" aria-describedby="power-rankings-table">
              <thead>
                <tr>
                  <th class="sticky-col" scope="col">Team</th>
                  <th scope="col">PR Score</th>
                  <th scope="col">Wins</th>
                  <th scope="col">Overall Wins</th>
                  {% if week >= 7 %}
                    <th scope="col">Last 5 Wins</th>
                  {% endif %}
                  <th scope="col">Points</th>
                  {% if week >= 3 %}
                    <th scope="col">Consistency</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for val in report["power_rankings"].values() %}
                <tr>
                  <th class="sticky-col" scope="col"> {{ val["name"] }} </th>
                  <td> {{ val["power_ranking_score"] }} </td>
                  <td> {{ val["wins"] }} </td>
                  <td> {{ val["overall_wins"] }} </td>
                  {% if week >= 7 %}
                    <td> {{ val["l5"] }} </td>
                  {% endif %}
                  <td> {{ val["tot_pts"] }} </td>
                  {% if week >= 3 %}
                    <td> {{ val["consistency"] }} </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <br><br>
          <h4>Legend</h4>
          {{ tables.simple(
                headers=['Stats', 'Weight Value', 'What it Means'],
                rows=[
                  ['Wins', '3', 'Wins on the season'],
                  ['Overall Wins', '1', 'Wins if everyone played everyone each week'],
                  ['Last 5 Wins', '1 (starting week 8)', 'Wins in the last 5 weeks'],
                  ['Points', '2', 'Total points scored'],
                  ['Consistency', '1 (starting week 3)', 'Standard deviation of scores on the year']
                ]
              )
          }}
          </div>
        </div>
      </div>
    </div>
    <script>
      var high = ["cool", "smooth", "nice", "pretty pretty pretty good",
                  "quality", "worthy", "distinguished", "notable"];

      var low = ["lowly", "forgettable", "weak", "feeble", "sickly", "faint",
                  "dull", "muted", "decrepit", "measly", "pathetic"];

      var close = ["eeked it out over", "just got past", "snuck it out over",
                  "squeeked past", "slipped past", "tiptoed past"];

      var beat = ["clobbered", "pulverized", "embarrassed", "destroyed",
                  "annihilated", "schooled", "made easy work of"];

      function randomWords() {
        var h = high[Math.floor(Math.random() * high.length)];
        document.getElementById('high').innerHTML = h;

        var l = low[Math.floor(Math.random() * low.length)];
        document.getElementById('low').innerHTML = l;

        var c = close[Math.floor(Math.random() * close.length)];
        document.getElementById('close').innerHTML = c;

        var w = beat[Math.floor(Math.random() * beat.length)];
        document.getElementById('beat').innerHTML = w;
      }
      window.onload = randomWords;
    </script>
  </body>
</html>
{% endblock %}